* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #450b64;
  font-family: 'Creepster', cursive;
  background: linear-gradient(
    180deg,
    rgba(85, 8, 148, 0.8) 82.08%,
    rgba(4, 0, 8, 1) 100%
  );
}

body::before {
  content: '';
  width: 100%;
  height: 465px;
  background-color: #a6d334;
  background: linear-gradient(
    180deg,
    #a6d334 82.08%,
    rgba(206, 243, 40, 0.38) 100%
  );
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.page {
  width: 750px;
  margin: 0 auto;
  justify-content: center;
}

header {
  text-align: center;
}

header h1 {
  color: black;
  font-size: 55px;
  font-weight: 400;
  line-height: 45px;

  margin-top: 50px;
  margin-bottom: 30px;
}

header p {
  font-family: 'Averia Libre', cursive;
  color: black;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}

header img {
  border-radius: 8px;
  margin-top: 2px;
  height: 200px;
  width: 400px;
}

form {
  margin-top: 32px;
  min-height: 300px;
  background-color: rgb(212, 149, 30);
  border-radius: 20px 20px 0 0;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset legend {
  color: #253b51;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.input-wrapper {
  width: 100%;
  font-family: 'Butcherman', cursive;
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #4e4958;
}

.input-wrapper input {
  height: 56px;
  padding: 0 24px;
  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background-color: #fafafc;
  font-family: 'Averia Libre', cursive;
}

.input-wrapper select {
  height: 40px;
  padding: 0 24px;
  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background-color: #fafafc;
  margin-bottom: 20px;
  font-family: 'Averia Libre', cursive;
}

.first-wrapper,
.second-wrapper,
.third-wrapper {
  display: flex;
  gap: 22px;
}

.extra-information textarea {
  height: 150px;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  font-family: 'Averia Libre', cursive;
}

.event-information {
  margin-bottom: 30px;
}

.col-3 {
  display: flex;
  gap: 20px;
}

.col-3 > div:nth-child(2) {
  width: 50%;
}

.col-3 > div:nth-child(3) {
  width: 50%;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 16px;
  font-family: 'Averia Libre', cursive;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.checkbox-wrapper label::before {
  content: '';
  width: 24px;
  height: 24px;
  border: 1px solid #e6e6f0;
  display: block;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}

footer {
  background-color: rgb(212, 149, 30);
  height: 100px;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  padding: 52px 71px;
  padding-top: 0;
}

footer .button {
  font-family: 'Creepster', cursive;
  height: 55px;
  background-color: #a6d334;
  color: #253b51;
  border: 0;
  border-radius: 20px;
  line-height: 26px;
  font-size: 20px;
  font-weight: 400;
}

footer .button:hover {
  background-color: #688818;
}
